{{#paper-card class="a" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Scheduled For Today{{/text.headline}}
         {{paper-divider}}
        {{#paper-list}}
        <div style="height:168px; width:200px;">
                    {{#ember-scrollable}}

        {{#each scheduledTodayTasks as |category|}}
{{#draggable-item  remove=(action 'removeScheduledTodayTask') content=category}}
            {{#paper-item}}{{category.text}}{{/paper-item}}
            {{/draggable-item}}
            {{paper-divider}}
            {{/each}}
        {{/ember-scrollable}}
        </div>
        {{/paper-list}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}