{{yield}}

{{#paper-list}}
    {{#paper-item class="md-3-line"}}
        <img src = "" alt="no image" class="md-avatar">
        <div class="md-list-item-text">
            USER
        </div>
    {{/paper-item}}
{{/paper-list}}        