{{yield}}
{{#paper-card class="a" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Pending{{/text.headline}}
         {{paper-divider}}
        {{#paper-list}}
        <div style="height:200px; width:200px;">
          {{#ember-scrollable}}
        {{#each pendingTasks as |category|}}
   {{#draggable-item  remove=(action 'removePendingTask') content=category}}
            {{#paper-item}}{{category.text}}{{/paper-item}}
      {{/draggable-item}}
      {{paper-divider}}
            {{/each}}
        {{/ember-scrollable}}
        </div>
        {{/paper-list}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}