<div id="container">
{{activity-planner-navigation 
    onTabIndexChanged=(action "handleTabIndexChanged") 
    tabIndex=tabIndex 
    tabSubheading=tabSubheading }}
    <div class="view-content">
{{#swiper-container events=(hash slideChange=(action "handleTabIndexC" tabIndex))}}

   {{#swiper-slide}} 
   {{#activity-planner-updates
        completedTasks=latestActivityPlan
        pendingTasks=latestActivityPlan
        newTasks=latestActivityPlan
        cancelled=latestActivityPlan}}
    {{/activity-planner-updates}}
    {{/swiper-slide}}
    {{#swiper-slide}} 
    {{#schedule-task 
        tasks=latestActivityPlan
        selectTask=(action "selectTask")}}
    {{/schedule-task}}
    {{/swiper-slide}}
    {{#swiper-slide}}
        {{#activity-planner-backlogs 
        backlogTasks=latestActivityPlan
        selectTask=(action "selectTask") }}
    {{/activity-planner-backlogs}}
    {{/swiper-slide}}
    {{#swiper-slide}}
        {{#activity-plan 
        tasks=latestActivityPlan
        projects=projects 
        saveData=(action "saveToDb")}}
    {{/activity-plan}}
    {{/swiper-slide}}
{{/swiper-container}}


{{#activity-planner-selected-tasks
    selectedTasks=selectedTasks
    currentTab=currentTab }}
{{/activity-planner-selected-tasks}}
</div>
</div>