{{yield}}  
 {{#paper-card class="a" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Completed{{/text.headline}}
         {{paper-divider}}
        {{#paper-list}}
        <div style="height:200px; width:200px;">

                {{#ember-scrollable}}

        {{#each completedTasks as |category|}}

            {{#paper-item}}{{category.tasks.text}}{{/paper-item}}
              {{paper-divider}}
            {{/each}}
          {{/ember-scrollable}}
        </div>
        {{/paper-list}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}