<div id="container">
    
{{activity-planner-navigation 
    onTabIndexChanged=(action "handleTabIndexChanged") 
    tabIndex=tabIndex 
    tabSubheading=tabSubheading }}

    <div class="view-content">
        {{!-- {{#each activityPlan as |ap|}}
            {{ap.tasks.text}}
        {{/each}} --}}
{{#swiper-container events=(hash slideNextTransitionStart=(action "handleTabIndexC" tabIndex) slidePrevTransitionStart=(action "handleTabIndexB" tabIndex))}}

   {{#swiper-slide}} 
   {{#activity-planner-updates
        completedTasks=completedTasks
        pendingTasks=pendingTasks
        newTasks=newTasks
        cancelledTasks=cancelledTasks}}
    {{/activity-planner-updates}}
    {{/swiper-slide}}
    {{#swiper-slide}} 
    {{#activity-planner-scheduled
        selectedTasks=selectedTasks
        futureTasks=scheduledFutureTasks
        todayTasks=scheduledTodayTasks
        selectTask=(action "selectTask")}}
    {{/activity-planner-scheduled}}
    {{/swiper-slide}}
    {{#swiper-slide}}
        {{#activity-planner-backlogs
        backlogProjects=backlogProjects 
        backlogTasks=backlogTasks
        selectTask=(action "selectTask") }}
    {{/activity-planner-backlogs}}
    {{/swiper-slide}}
    {{#swiper-slide}}
        {{#activity-planner-activity-plan 
        selectedTasks=selectedTasks
        projects=projects 
        saveData=(action "saveToDb")}}
    {{/activity-planner-activity-plan}}
    {{/swiper-slide}}
{{/swiper-container}}


{{!-- {{#activity-planner-selected-tasks
    selectedTasks=selectedTasks
    currentTab=currentTab }}
{{/activity-planner-selected-tasks}} --}}
</div>
</div>