@import 'ember-paper';

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.fix-toolbar{
    // display: flex;
    // flex-direction: column;
    height: 5vh;
}

.view-content{
    // display: flex;
    // flex-direction: column;
    flex: 1;
    overflow: auto;
}

#fixedbutton{
    position: fixed;
    left: 8vw;
    bottom: 10vh;
}

.dd {
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .md-1-line {
    
        height: 150px;
        width: 45%;
        align-items: flex-end;
        flex-direction: row;
    }
    
    
}