@import 'ember-paper';

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.fix-toolbar{
    // display: flex;
    // flex-direction: column;
    height: 5vh;
}

.view-content{
    // display: flex;
    // flex-direction: column;
    flex: 1;
    overflow: auto;
}