<div id="container">

    {{#if isMobile}}
        {{activity-planner 
            activityPlan = model.teamCopy.tasks
            backlogs = model.productBacklogs
            publish = (action "publish")
        }}
        
    {{else}}
    {{activity-planner-desktop activityPlan = activityPlan1}}
        
    {{/if}}
</div>