<div id="container">

    {{#if isMobile}}
        {{activity-planner 
            activityPlan = model.teamCopy.tasks
            backlogs = model.productBacklogs
            scheduled =  model.scheduled
            scheduledfor =  model.scheduledfor
        }}
        
        <p>MOBILE</p>
    {{else}}
    {{activity-planner-desktop activityPlan = model.teamCopy.tasks}}
        <p>DESKTOP</p>
    {{/if}}
</div>