<div id="container">

    {{#if isMobile}}
        {{activity-planner 
            activityPlan = model.teamCopy.tasks
            gotoSprint = (action "gotoSprint")
            publish = (action "publish")                
            backlogs = model.productBacklogs
            scheduled =  model.scheduled
            scheduledfor =  model.scheduledfor
            userData = userData
            publish = (action "publish")
            updateRender=updateRender
            navigateToInitiaive=(action 'navigateToInitiaive')
            navigateToInitiativeMembers=(action 'navigateTomembers')
        }}
        
    {{else}}
    {{activity-planner-desktop 
    activityPlan = model.teamCopy.tasks 
    backlogs = model.productBacklogs 
    scheduled =  model.scheduled
    scheduledfor =  model.scheduledfor
    userData = userData
    checkPublish = checkPublish
    updateRender=updateRender
    navigateToInitiaive=(action 'navigateToInitiaive')
    navigateToInitiativeMembers=(action 'navigateTomembers')
    }}
    {{/if}}
</div>