<div id="container">

    {{#if isMobile}}
        {{activity-planner 
            activityPlan = model.teamCopy.tasks
            backlogs = model.productBacklogs
            scheduled =  model.scheduled
            scheduledfor =  model.scheduledfor
            publish = (action "publish")
        }}
        
        
    {{else}}
    
    {{activity-planner-desktop activityPlan = model.teamCopy.tasks 
    backlogs = model.productBacklogs}}
        
    {{/if}}
</div>